.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 12vh); /* 12vw means 12% of the viewport width */
  grid-template-rows: repeat(4, 12vh);   /* 12vw ensures consistent square cells */
  gap: 0.3vw;                            /* 0.5vw gap between cells */
  margin: 0.3vw;                           /* 1vw margin around the chessboard */
  max-width: 96vw;                       /* Ensures the chessboard doesn't overflow the viewport */
  max-height: 96vw;                      /* Ensures the chessboard remains square */
  /* margin: 0 auto;                        Centers the chessboard horizontally */
}

.game-info {
  min-height: 20vh;
  grid-column: span 8;
  background-color: darkcyan; /* Optional: Different color for visibility */
}

.board-row {
  display: contents;
}

.board-cell {
  width: 100%;
  height: 100%;
  background-color: #f0d9b5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: center;
}

.board-cell:nth-child(odd) {
  background-color: #b58863;
}

.piece {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vh;
  cursor: pointer;
  transition: transform 0.3s;
}

.empty {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  cursor: pointer;
  transition: transform 0.3s;
}

.piece.red {
  color: red;
  border: 0.4vh solid red; /* 外圓線條 */
  box-shadow: inset 0 0 0 0.5vh #fff, inset 0 0 0 0.9vh red; /* 內圈 */
}

.piece.black {
  color: black;
  border: 0.4vh solid black; /* 外圓線條 */
  box-shadow: inset 0 0 0 0.5vh #fff, inset 0 0 0 0.9vh black; /* 內圈 */
}

.piece.mask {
  background-color: green;
  color: white;
}

.piece.select {
  border: 0.4vh solid lightseagreen; /* 外圓線條 */
  box-shadow: inset 0 0 0 0.5vh #fff, inset 0 0 0 0.9vh lightseagreen; /* 內圈 */
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
