.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 12vh); /* 12vw means 12% of the viewport width */
  grid-template-rows: repeat(4, 12vh);   /* 12vw ensures consistent square cells */
  gap: 0.3vw;                            /* 0.5vw gap between cells */
  margin: 0.3vw;                           /* 1vw margin around the chessboard */
  max-width: 96vw;                       /* Ensures the chessboard doesn't overflow the viewport */
  max-height: 96vw;                      /* Ensures the chessboard remains square */
  /* margin: 0 auto;                        Centers the chessboard horizontally */
}

.game-info {
  min-height: 20vh;
  grid-column: span 8;
  background-color: darkcyan; /* Optional: Different color for visibility */
}

.board-row {
  display: contents;
}

.board-cell {
  width: 100%;
  height: 100%;
  background-color: #f0d9b5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: center;
}

.board-cell:nth-child(odd) {
  background-color: #b58863;
}

.piece {
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7vh;
  cursor: pointer;
  transition: transform 0.3s;
}

.empty {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2vw;
  cursor: pointer;
  transition: transform 0.3s;
}

.piece.red {
  background-color: red;
  color: white;
}

.piece.black {
  background-color: black;
  color: white;
}

.piece.mask {
  background-color: green;
  color: white;
}

.piece.select {
  border-radius: 100%;
  border-bottom: 5px solid lightseagreen;
  border-right: 5px solid lightseagreen;
  border-top: 5px solid lightseagreen;
  border-left: 5px solid lightseagreen;
  color: white;
}

/* .select {
  padding-top: 12%;
  background: linear-gradient(to left, #2CD5FF, #2CD5FF) left top no-repeat,
  linear-gradient(to bottom, #2CD5FF, #2CD5FF) left top no-repeat,
  linear-gradient(to left, #2CD5FF, #2CD5FF) right top no-repeat,
  linear-gradient(to bottom, #2CD5FF, #2CD5FF) right top no-repeat,
  linear-gradient(to left, #2CD5FF, #2CD5FF) left bottom no-repeat,
  linear-gradient(to bottom, #2CD5FF, #2CD5FF) left bottom no-repeat,
  linear-gradient(to left, #2CD5FF, #2CD5FF) right bottom no-repeat,
  linear-gradient(to left, #2CD5FF, #2CD5FF) right bottom no-repeat;
  background-size: 4px 20px, 20px 4px, 4px 20px, 20px 4px;
  border: 1px solid #073F97;
  position: relative;
} */

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
